// tipografia
$fuente_principal:'Bruno Ace SC', cursive, 'Roboto', sans-serif, 'Geologica';
$fuente_secundaria:'Prompt', sans-serif;


// Colores
$verde:#4CB8B3;
$rosa:#F53756;
$amarillo:#FEF46D;
$morado:#752F97;
$negro:#000;
$blanco:#FFF;
$azul:blue;
$color_shell:orange;


// media query
$telefono:480px;
$tablet:768px;
$desktop:992px;
$desktopXL:1220px;

$fondoAzul: linear-gradient(201deg, #16015a 0%, #4970f0 80%);

