@use 'base/mixins' as m;
@use 'base/variables' as v;

.loguearse {
    position: relative;
    display: flex;
    justify-content: space-around;
    //align-items: center;
    width: 100%;
    background-color: v.$blanco;
    padding: 2rem;
    text-align: center;
    align-items: center;

    .login {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        margin: 0 4rem;
    }

    a {
        position: relative;
        font-weight: 700;
        color: v.$azul;
        font-size: 1.8rem;
        margin: 0 4rem;

        &:hover {
            color: v.$negro;
            font-size: 1.7rem;
        }
    }
}

.texto {
    width: 80%;
    max-width: 120rem;
    display: block;
    text-align: center;
    margin: 2rem auto 2rem auto;
    padding: 2rem;

    h3 {
        font-size: 4rem;
        color: v.$blanco;
        text-align: center;
        align-items: center;
    }

    p {
        text-align: justify;
        font-size: 2rem;
        color: v.$blanco;
        font-weight: 500;

    }
}

.ubicacion {
    h3{
        font-size: 3rem;
        color: v.$verde;
        text-align: center;
        align-items: center;
    }
    .mapa {
        #map-9cd199b9cc5410cd3b1ad21cab2e54d3{
            position: relative;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2rem;            
            width: 100%;   
            max-width: 80rem;
        }
    }
}
.centrar-mapa{
    position: relative;   
    display: flex;
    
    margin: 6rem auto;
    justify-content: center;


   }
