@use 'base/mixins' as m;
@use 'base/variables' as v;

.titulo {
    text-align: center;
    color: rgb(186, 245, 186);
    margin: 2rem 0 0 0;
}

.principal {
    .centrar {
        justify-content: center;
        margin: 8rem auto;

        @include m.desktop {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
            height: 60vh;
            align-items: center;
        }

        .donde-datos {            
            position: relative;
            display: grid;
            place-items: center;
            margin-bottom: 4rem;    
            p{
                font-size: 2.5rem;     
                color: aqua;   
            }
            
        }

        .mapa {
            position: relative;
            display: flex;
            justify-content: center;            
            width: 50rem;
            width: 100%;
            height: auto;
            img {
             
                background-size: contain;
                //width: 500rem;           
                //height: auto;
            }
        }
    }
}