@use 'base/mixins' as m;
@use 'base/variables' as v;

.principal_filtros {
    position: relative;
    margin-top: 5rem;
}

.contenedor-principal-filtros {
    .contenedor-texto {
        display: block;
        max-width: 70%;
        max-height: 100%;
        margin: auto;

        h3 {
            color: rgb(213, 219, 219);
            margin-top: 6rem;
            margin-bottom: 0;
            font-size: 3rem;

            span {
                color: v.$blanco;
            }

        }

        p {
            font-size: 1.5rem;
            color: v.$blanco;
            line-height: 2rem;
            margin: 1rem 0;

            span {
                font-size: 1.8rem;
                font-weight: 700;
            }
        }
    }

    .titulo-foto-filtro {
        p {
            text-align: center;
            margin-top: 5rem;
        }
    }

    .imagen-principal-filtros {
        img {
            width: 100%;
            opacity: 0.1;
            // max-height: 100rem;
        }

        position: relative;
        margin-top: 4rem;

    }

    .foto-con-texto {
        margin-top: 3rem;

        .foto-filtro {
            display: flex;
            width: 100%;
            // max-width: 20rem;
            height: auto;
            margin: auto;

            img {
                max-width: 30rem;

                margin: auto;
            }

        }

        @include m.tablet {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 3rem;
        }
    }
}

.footer {
    //   position: absolute;
    margin: 0 0;
}