@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {
    position: absolute;
    background-color: rgb(34, 35, 70);
    width: 100%;
    margin-bottom: 0;
    margin-left: 0;
    

    p {
        color: v.$blanco;
        font-size: 1.3rem;
        margin-bottom: 0;
        padding: 3rem;
        text-align: center;
    }

    span {
        font-weight: 600;
        font-size: 1.8rem;
    }
}